<div class="row">
  <div class="col-lg-8">
    <h1>The Sovereign Library</h1>
    <p class="lead">Welcome, <%= Current.user.email_address %>.</p>
    <p>Your personal document governance system. Ingest, classify, normalize, and search your important records.</p>
  </div>
</div>
