<h1>Project Tree</h1>

<form method="get">
  <input name="q" value="<%= params[:q] %>" placeholder="Search title or body…">
  <button type="submit">Search</button>
</form>

<ul>
  <% @root_nodes.each do |node| %>
    <%= render partial: "ledger/node_tree_item", locals: { node: node, children_map: @children_by_parent } %>
  <% end %>
</ul>
